<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Description" content="Fly-Z is a digital agency specialized in digital experience, digital production, social media, and mobile."/>
	<meta name="Keywords" content="Fly-Z is a digital agency specialized in digital experience, social media, content development, website, web application and mobile"/>
	<meta name="Language" content="en-TH"/>
	<meta name ="Robots" content="index, follow"/>
	<meta name="Rating" content="General"/>

    <title>Fly-Z - We create digital experience</title>
	
	<meta property="og:title" content="Fly-Z Digital Agency - Website, Social, Content, Technology, and Mobile" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://flyz.co/index.html" />
	<meta property="og:image" content="http://flyz.co/flyz.jpg" />
	<meta property="og:site_name" content="FlyZ"/>
	<meta property="og:description" content="Fly-Z is a digital agency specialized in digital experience, digital production, social media, and mobile" />
	
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/animate.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
	<link href="css/default.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                   <img src="img/fly-z.png" alt="Fly-Z">
                </a>
            </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#intro">Home</a></li>      
		<li><a href="#service">Services</a></li>
		<li><a  href="#technology">Technology</a></li>
		<li><a href="#projects">Our Projects</a></li>
		<li><a href="#contact">Contact</a></li>
      </ul>
    </div>
         
    </div>
       
    </nav>

    <section id="intro" class="intro">
	
		<div class="slogan">
			<h4>WE CREATE</h4>
			<h2>{ DIGITAL <span class="text-color">EXPERIENCE</span> } </h2>
			<h4>WEB DEVELOPMENT/ MOBILE APPS/ DIGITAL MARKETING</h4>
		</div>
		<div class="page-scroll">
			<a href="#service" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
    </section>

    <section id="service" class="home-section text-center bg-gray">
			
			<div class="heading-about">
				<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="wow bounceInDown" data-wow-delay="0.4s">
						<div class="section-heading">
						<h2>Our Services</h2>
						<i class="fa fa-2x fa-angle-down"></i>
	
						</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="container">
			<div class="row">
				<div class="col-lg-2 col-lg-offset-5">
					<hr class="marginbot-50">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="wow fadeInLeft" data-wow-delay="0.2s">
					<div class="service-box boxed-green">
						<div class="service-icon">
								<i class="fa fa-globe fa-4x"></i>
						</div>
						<div class="service-desc">
							<h5>Web development</h5>
							<p>We develop web projects of any scope and complexity. and also design custom CMS platforms based on your specific website needs and business goals.</p>
						</div>
					</div>
					</div>
				</div>
	
				<div class="col-md-4">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-box boxed-green">
						<div class="service-icon">
								<i class="fa fa-mobile fa-4x"></i>
						</div>
						<div class="service-desc">
							<h5>Mobile development</h5>
							<p>We develop iOS and Android apps. we will help you to make a convenient native app for iOS and Android for better promotion of your business.</p>
						</div>
					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="wow fadeInRight" data-wow-delay="0.2s">
					<div class="service-box boxed-green">
						<div class="service-icon">
								<i class="fa fa-users fa-4x"></i>
						</div>
						<div class="service-desc">
							<h5>Digital marketing</h5>
							<p>If you need to promote your website in the top search engines or Engage users and expand your audience on social media, we can do it for your business.</p>
						</div>
					</div>
					</div>
				</div>
			</div>		
			</div>
		</section>

    <section id="technology" class="home-section text-center">
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Technology</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-lg-7">
				<div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="technology boxed-grey">
                    <div class="inner">
						<h5>We use technologies specialize in</h5>
                        <p class="subtitle">We develop for the web and mobiles using the latest and greatest technologies that are out there.</p>
						 <ul>
							 <li>PHP: Laravel, Symfony, Yii</li>
							 <li>Swift Server Side: Vapor</li>
							 <li>JavaScript: NodeJs, React, Vue, Jquery</li>
							 <li>CSS: Bootstrap, Bulma, Material Design, SCSS, LESS</li>
							 <li>Customized CMS: WordPress, Magento </li>
							 <li>Db: Myssql, Mongo Db, Sqli</li>
							 <li>iOS: IOS SDK, Swift</li>
							 <li>Android: Java, Android SDK</li>
							 <li>UX analysis: Google Analytics</li>
						 </ul>
                    </div>
                </div>
				</div>
            </div>			
			<div class="col-lg-5">
				<div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <div class="avatar"><img src="img/stack.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
				</div>
            </div>
		
		</div>
	</section>

	<section id="projects" class="home-section text-center">
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Our Projects</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">
				<div class="row">
						<div class="col-lg-2 col-lg-offset-5">
							<hr class="marginbot-50">
						</div>
				</div>
				<div class="row">
						<div class="col-md-4">
							<div class="wow bounceInUp" data-wow-delay="0.2s">
							<div class="team boxed-grey">
								<div class="inner">
									<div class="avatar"><img src="img/works/skyandsea.jpg" alt="" class="img-responsive" /></div>
									<h5>Sky&Sea Thailand</h5>
									<p class="subtitle"><a href="http://www.skyandseathailand.com" target="_blank">Visit site</a></p>
									
								</div>
							</div>
							</div>
						</div>
						<div class="col-md-4">
								<div class="wow bounceInUp" data-wow-delay="0.5s">
								<div class="team boxed-grey">
									<div class="inner">
										<div class="avatar"><img src="img/works/rsw.jpg" alt="" class="img-responsive" /></div>
										<h5>Royal Skyways</h5>
										<p class="subtitle"><a href="http://www.royalskyways.co.th" target="_blank">Visit site</a></p>
										
									</div>
								</div>
								</div>
							</div>
						<div class="col-md-4">
									<div class="wow bounceInUp" data-wow-delay="0.8s">
									<div class="team boxed-grey">
										<div class="inner">
											<div class="avatar"><img src="img/works/idotour.jpg" alt="" class="img-responsive" /></div>
											<h5>I do tours</h5>
											<p class="subtitle"><a href="http://www.idotours.com" target="_blank">Visit site</a></p>
											
										</div>
									</div>
									</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-4">
							<div class="wow bounceInUp" data-wow-delay="1s">
							<div class="team boxed-grey">
								<div class="inner">
									<div class="avatar"><img src="img/works/syp.jpg" alt="" class="img-responsive" /></div>
									<h5>SYP Bangkok</h5>
									<p class="subtitle"><a href="http://www.sypbangkok.com" target="_blank">Visit site</a></p>
									
								</div>
							</div>
							</div>
						</div>
						<div class="col-md-4">
								<div class="wow bounceInUp" data-wow-delay="1.2s">
								<div class="team boxed-grey">
									<div class="inner">
										<div class="avatar"><img src="img/works/ras.jpg" alt="" class="img-responsive" /></div>
										<h5>Royal Airport Services</h5>
										<p class="subtitle"><a href="http://www.royalairport.co.th" target="_blank">Visit site</a></p>
										
									</div>
								</div>
								</div>
							</div>
						<div class="col-md-4">
									<div class="wow bounceInUp" data-wow-delay="1.5s">
									<div class="team boxed-grey">
										<div class="inner">
											<div class="avatar"><img src="img/works/webapp.jpg" alt="" class="img-responsive" /></div>
											<h5>Web Application</h5>
											<p class="subtitle">build the web application as customer need.</p>
											
										</div>
									</div>
									</div>
						</div>
				</div>
		</div>
	</section>
				

    <section id="contact" class="home-section text-center">
		<div class="heading-contact">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Work With Us</h2>
					<i class="fa fa-2x fa-angle-down"></i>                
					</div>
					</div>
				</div>
					 
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
		<div class="row">
				<h5>Tell us about your business goals and we will contact you</h5> 
		</div>
    <div class="row">
			<div class="col-lg-9">
					
					<div class="boxed-grey" id="app">	
						<div id="sendmessage" v-show="sendMessage">Your message has been sent. Thank you!</div>		          		
						<form id="contact-form" action="" method="post" @submit.prevent="validateForm"  class="contactForm">
							
							<div class="row">
							<div class="col-md-6">
								<div class="form-group" :class="{'has-error': attemptSubmit && missingName }">
									<label class="form-control-label" for="name"> Name</label>
									<input type="text" v-model="name" class="form-control"  placeholder="Your Name"  />
									<span class="help-block" v-if="attemptSubmit && missingName">This field is required.</span>
								</div>
								<div class="form-group" :class="{'has-error': attemptSubmit && wrongEmail}">
									<label for="email">
										Email Address</label>           
										<input type="text" class="form-control" v-model="email" placeholder="Your Email"  />
										<span class="help-block" v-if="attemptSubmit && wrongEmail">{{ emailFeedback }}</span>                          
								</div>
								<div class="form-group" :class="{'has-error': attemptSubmit && missingSubject}">
									<label for="subject">
										Subject</label>           
										<input type="text" class="form-control" v-model="subject" placeholder="Your Subject"  />
										<span class="help-block" v-if="attemptSubmit && missingSubject">{{ emailFeedback }}</span>                          
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name">
										Message</label>
									<textarea class="form-control" v-model="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
								
								</div>
							</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-skin pull-right" id="btnContactUs" >
									Send Message</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			<div class="col-lg-3">
					<div class="widget-contact">						
						<address>
						  <strong>Fly Z</strong><br>
						  114 Noble Neo City, Nawong Rd.,<br>
						 Sikan, Donmueang, Bangkok 10210.<br>
						  <abbr title="Mobile">Mobile:</abbr>(+66) 085 803 6060
						</address>
		
						<address>
						  <strong>Email</strong><br>
						  <a href="mailto:hello.flyz@gmail.com">hello.flyz@gmail.com</a>
						</address>						
					
					</div>	
			</div>

        
		
		
    </div>	

		</div>
	</section>


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="wow shake" data-wow-delay="0.4s">
						<div class="page-scroll marginbot-30">
							<a href="#intro" id="totop" class="btn btn-circle">
								<i class="fa fa-angle-double-up animated"></i>
							</a>
						</div>
					</div>
					<p>&copy;Fly-Z. All rights reserved.</p>
                    <div class="credits">
                        Themes by BootstrapMade
                    </div>
				</div>
			</div>	
		</div>
	</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script src="js/easing.min.js"></script>	
	<script src="js/scrollTo.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="js/main.js"></script>
</body>

</html>
